<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" [routerLink]="['/home']" >Dating App</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="loggedIn()">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/members']" >Matches<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/lists']" >List</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/messages']" >Messages</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
                    <input class="form-control mr-sm-2" type="text" #username="ngModel" placeholder="username" class="form-control"
                      required name="username" [(ngModel)]="model.username">
                      <input class="form-control mr-sm-2" type="password" #password="ngModel" placeholder="Password" class="form-control"
                      required name="password" [(ngModel)]="model.password">
                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0">Login</button>
                  </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <div *ngIf="loggedIn()" class="dropdown" dropdown>
                    <button dropdownToggle class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome {{ authService.decodedToken?.unique_name | titlecase }}
                    </button>
                    <div class="dropdown-menu mt-3" aria-labelledby="dropdownMenuButton" *dropdownMenu>
                        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
                    </div>
                </div>
            </ul>
        </div>
  </div>
</nav>
